.act>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.act>div>div{
    margin: 10px 10px;
}
.act img{
width: 200px;
}
.act h3{
padding-top: 50px;
text-align: center;
margin: 0 0 50px;
}
.act h4{
font-family: 微軟正黑體;
font-size: 29px;
margin-bottom: 0px;
}
.act p{
font-family: 微軟正黑體;
font-size: 22px;
}