.excep img.towda{
width:550px;
transition:0.5s;
}
.excep div{
width: 1275px;
margin: 0 auto;
padding:20px 0 60px;
}
.excep h3{
margin-top: 0;
padding-top: 50px;
text-align: center;
}
.excep h4{
font-size: 28px;
font-family: 微軟正黑體;
}
.excep>ul{
font-size: 28px;
}
.excep ul{
list-style: none;
line-height: 25px;
}
.excep li>span{
font-size: 26px;
font-family: 微軟正黑體;
}
.excep li li{
font-size: 23px;
font-family: 微軟正黑體;
}
.excep img.towda:hover{
box-shadow: 0 0 150px white,0 0 150px white,0 0 150px white;
}
.hope img{
width:auto;
}
.hope{
display: flex;
align-items: center;
}
.hope p{
font-size: 24px;
padding: 31px;
}