ul.int li.active {
	border-right: 3px solid #ffa433;
	color: #ff5e00;
}

ul.int li {
	padding-right: 20px;
	transition-duration: 350ms;
}

ul.int li:hover {
	cursor: pointer;
}

ul.int {
	list-style-image: url(../img/red-arrow.png);
	line-height: 50px;
}

div.inter {
	/*興趣與作品*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

article.int div>div {
	margin: 30px 20px;
}
p.int-p {
	width: 25%;
	padding: 20px;
	line-height: 30px;
	text-align: left;
	margin-left: 40px;
	opacity: 0;
	display: none;
	transition-duration: 350ms;
	box-shadow: 0 0 5px black;
}
.item {
	position: absolute;
	transform: translateX(15%);
}
.item img {
	display: none;
	border: outset #dfc7a8 6px;
	transform: rotate3d(0, 1, 0, 0deg) translate3d(30%, -13px, 0px) rotate(0deg);
	transition-duration: 0.5s;
}

.item:hover img {
	transform: rotate3d(0, 1, 0, 90deg) translate3d(30%, -13px, 0px) rotate(-20deg);
}

.operat-arch:hover a,
.operat-arch:hover span {
	display: block;
}

.operat-arch a,
.operat-arch span {
	color: #ec5a43;
	text-decoration: none;
	display: none;
	transition-duration: 350ms;
}
.operat-arch a:hover,
.operat-arch span:hover {
	color: #c54a02;
	cursor: pointer;
}