nav{
width:100%;
position: fixed;
top: 0;
left: 0;
z-index: 10;
background-color: #585858f0;
box-shadow: 1px 2px 8px white;
}
nav>span>a{
text-decoration: none;
padding: 20px 10px;
font-size: 26px;
float:right;
color:#b9b9b9;
font-family: 微軟正黑體;
}
nav>span>a:hover{
color:white;
}
hr.one {
width: 90%;
margin: 50px auto 50px 0px;
border: 0;
height: 3px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.name{
float: left;
padding-left:80px;
}
.down{
position: relative;
left: 50%;
margin: 0px auto 64px;
padding: 15px;
font-size: 18px;
border: 2px solid #f09b01;
background-color: white;
border-radius: 10px;
font-family: 微軟正黑體;
width:90px;
}
input:hover{
background-color: orange;
color:white;
}