
			nav{
                width:100%; 
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: #585858f0;
                box-shadow: 1px 2px 8px white;
                }
                            nav ul{
                                    float: right;
                                    display: flex;
                                    list-style: none;
                                    margin-right: 40px;
                                }
                            nav a{
                                text-decoration: none;
                                padding: 5px 10px;
                                font-size: 26px;
                                color:#b9b9b9;
                                font-family: 微軟正黑體;
                            }
                            nav a:hover{
                                color:white;
                            }
                            .name{
                                padding-left:80px;
                            }
                            .icon-bar{
                                width: 40px;
                                height: 3px;
                                background-color: white;
                                display: block;
                                margin: 18px;
                                border-radius: 10px;
                            }
                            .nav-btn{
                                background-color: #00000000;
                                border: 0;
                                height: 82px;
                                float: right;
                                display: none;
                                transition-duration: 0.5s;
                            }
                            .nav-btn:hover{
                                background-color: black;
                            }